body{
    padding: 0;
    top: 0;
    background-color: beige;
}
.product{
    float: left;
    margin-left: 150px;
   text-align: center;
}
.container-percent{
    margin-top: 100px;
    align-items: center;
    width: 100%;
   
}
.number-product p{
    background-color:black  ;
    color: white;
    border-radius: 60%;
    width: 100px;
    height: 80px;
    line-height: 75px;
    text-align: center;
    margin-left: 100px;
    letter-spacing: 0;
    font-size: 40px;
    margin-bottom: 40px;
}
.container-form{
    float: left;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    display: inline;
    /* height: 100vh; */
    width: 100%;
    
}
.container-form h1{
    text-align: center;
    margin-left: 100px;
    font-weight: 400 ;
}
.text-form{
    margin-top: 5px;
    width: 86%;
    padding-bottom: 200px;
    padding-top: 10px;
    border-radius: 4px;
    text-align: start;
    outline: none;
    font-size: 20px;
    width: 100%;
    
}
.container-form button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: antiquewhite;

}
.container-form button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.send{
    margin-top: 20px;
}
.footer-container
{
    background-color:aliceblue;
    display: inline;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    float: right;
    margin-left: 30px;
    
}
.footer-container h1{
    float: left;
    width: 26%; 
    padding-left: 100px;
    
}
.footer-infomation{
   width: 25%;
   
   margin-top: 70px;
   margin-left: 100px;
   float: left;
}
.footer-infomation h2{
    margin-top: 15px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}
.footer-container ul li{
    font-size: 20px;
   margin-left: 50px;
    
}

.footer-infomation i{
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    
}


